.article-body {
    padding-left: 96px;
}
.articles-block_v2 .articles-block__col.articles-block__col_r {
    margin-top: 30px;
}


article .article-body * {
    padding-left: 0;
}

article .article-body .article__keywords > a {
    padding: 4px 8px;.article-body p
}

article .article-body .gallery-tile,
article .article-body .gallery-mosaic
{
    /*margin-left: -96px;*/
}

iframe.instagram-media {
    max-width: 100%;
}

.gallery-mosaic__col-width, .gallery-mosaic__item {
    width: 320px;
}

.top-articles__bg-mobile {
    display: none;
}



@media screen and (max-width: 450px){


    .top-articles__bg {
        display: none;
    }

    .top-articles__bg-mobile {
        display: block;
    }

}
@media screen and (max-width: 1023px){
    .gallery-mosaic__col-width, .gallery-mosaic__item {
        width: 300px;
    }

    .article-body {
        padding-left: 10px;
    }
}
@media screen and (max-width: 767px){
    .gallery-mosaic__col-width, .gallery-mosaic__item {
        width: 270px;
    }
}

.article-body.col_c .gallery-mosaic__col-width,.article-body.col_c .gallery-mosaic__item {
    width: 30%;
}

.gallery-tile-prev__item img {
    position: relative;
}

.gallery-tile-prev__list.items_3 .gallery-tile-prev__item:first-child,
.gallery-tile-prev__list.items_3 .gallery-tile-prev__item,
.gallery-tile-prev__item,
.gallery-tile-prev__item img,
.gallery-tile-prev__list.items_5 .gallery-tile-prev__item:first-child, .gallery-tile-prev__list.items_5 .gallery-tile-prev__item:nth-child(2),
.gallery-tile-prev__list.items_5 .gallery-tile-prev__item{
    height: auto;
}

.gallery-fullscreen__inner .gallery-fullscreen__image-container img {
    max-height: none;
}

.gallery-mosaic__item {
    max-height: none;
}


.gallery-mosaic {
    margin-top: 32px;
}

.article-body h2,
.article-body h1,
.article-body h3,
.article-body h4
{
    /*font-size: 1.5rem;*/
    line-height: 1.5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #B3A170;
}

.article-img-small {
    display: none;
}

.article__announce-wrapper p:empty {
    display: none;
}

.article-body h1 *,
.article-body h2 *,
.article-body h3 *,
.article-body h4 * {
    color: #B3A170;
}
.article-body p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    overflow: hidden;
}

.article-body p:empty {
    /*margin-top: -2em;*/
}

.article-body br {
    display: none;
}

.article-announce .article__announce-image {
    height: auto;
}



@media screen and (max-width: 1279px){
    .articles-block_v4 .article__teaser_vertical {
        height: auto;
    }
}
.article__teaser_vertical {
    height: auto;
}

.banner-240-400__inner {
    /*display: none;*/
}

@media screen and (max-width: 1280px) {
    .article__teaser_vertical {
        height: auto;
    }
}

@media screen and (max-width: 1023px){
    .articles-block_v1 .col_c {
        position: relative;
        top: 0;
        right: 0;
    }
    .articles-block_v1 .col_c .article__teaser_small {
        display: block;
    }
    .articles-block_v1 .col_c .article__teaser_small {
        display: block;
    }
    .articles-block_v1 {
        min-height: 0;
    }
    .articles-block_v1 .col_l {
        /*width: 66.6%;*/
        /*display: flex;*/
    }
    .articles-block_v1 .col_l .article__teaser_small {
        width: 100%;
    }
}

.gallery-fullscreen__inner .gallery-fullscreen__image-container {
    display: flex;
    justify-content: center;
}
.gallery-fullscreen__inner .gallery-fullscreen__image-container img {
    max-height: 94vh;
    height: auto;
    width: auto;
    display: block;
    /* margin: 0 !important; */
    max-width: none;
    line-height: 1;
}
@media screen and (max-width: 768px) {
    .article-body.col_c {
        padding: 0 16px;
    }
    article .article-body .gallery-tile,
    article .article-body .gallery-mosaic
    {
        margin-left: 0;
    }
    .articles-block_v4 .article__teaser_vertical,
    .articles-block_v4 .article__teaser_vertical:first-child{
        height: auto;
    }

    .article-img-full {
        display: none;
    }

    .article-img-small {
        display: block;
    }
    .articles-block_v3 .articles-block__list .article__item:nth-child(3),
    .articles-block_v3 .articles-block__list .article__item,
    .articles-block_v1 .col_l .article__teaser_vertical{
        height: auto;
    }

    .gallery-fullscreen__inner .gallery-fullscreen__image-container {
        display: flex;
    }

    .gallery-fullscreen__inner .gallery-fullscreen__image-container img {
        max-width: 100%;
    }
}


#loader {
    text-align: center;
    margin: 25px;
}

#loader img {
    display: block;
    margin: 0 auto;
    width: 75px;
}

@media screen and (max-width: 767px) {
    .articles-block_v2 .articles-block__col {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1023px) {
    .articles-block_v2 .articles-block__col_r .article__teaser_vertical {
        margin-bottom: 15px;
    }
    .articles-block_v2 .articles-block__col_r .article__teaser_vertical:nth-child(2){
        display: block;
    }
}

body.page-branding_l {
    background-attachment: fixed;
}

.article-body p {
    word-break: break-word;
}